@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }

  .dark body {
    @apply bg-slate-900 text-slate-100;
  }
}